.cont {
    background-color: #d3def0;
    margin: 50px 2%;
    margin-top: 20px;
    padding: 20px 5px;
    border-radius: 20px;
    border: solid 2px black;
    min-height: 1000px;
    display: flex;
}
.manage {
    padding: 10px;
    border-right: solid 2px black;
    min-width: 300px;
}

.filter_t {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
}

#filter_news label {
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

  .news_sub {
    font-size: 22px;
    margin-bottom: 20px;
}

form.seacrh_form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}
  
  /* Style the submit button */
form.seacrh_form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
  
form.seacrh_form button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
form.seacrh_form::after {
    content: "";
    clear: both;
    display: table;
}

#new {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px black;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    display: inline;
    background-color: #f2a0d7;
    padding: 5px;
    border-radius: 15%;
}

.tag_t {
    margin: 5px 0;
}

.new_name {
    margin: 5px 0;
    text-decoration: underline;
}

.new_date {
    margin: 5px 0;
}
.new_text {
    margin: 10px 0;
}
.new_img {
    float: right;
    width: 300px;
}

@media screen and (max-width: 1200px) {
    .new_img {
        width: 220px;
    }
}

@media screen and (max-width: 900px) {
    .cont {
        flex-direction: column;
    }
    .manage {
        border-bottom: solid 2px black;
        border-right: none;
    }
    .manage {
        min-width: 1px;
    }
}

@media screen and (max-width: 600px){
    .new_img {
        margin: 0 auto;
    }
}